body {
  background-color: #fbeec1;
}

.MuiFormHelperText-root {
  color: red !important;
}

.MuiAlert-standardSuccess .MuiAlert-icon {
  color: green !important;
}
.MuiAlert-icon {
  color: red !important;
}

* {
  font-family: "Merriweather", serif !important;
}

a {
  color: black;
  font-size: 16px !important;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}
